.one{
    text-align: center;
    font-family: 'Jomhuria', cursive;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.two{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
}

.three{
    text-align: center;
    font-family: 'Jomhuria', cursive;
    text-transform: capitalize;
}
