html{
    font-size: 20px;
}
.one{
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5rem ;
}

.two{
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
}

.three{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
 }