a{ 
    display: block;
    width: fit-content;
    padding: 80px 160px ;
    margin: 20px auto;
    border-bottom: 25px solid darkcyan;
    text-transform: capitalize;
    text-decoration: none;
    background-color: aquamarine;
   color: white;
   font-size: 80px;
   
}